html {
height: 170%;
width: 99%;
}

body {
height: 170%;
width: 100%;
margin: 0px;
padding: 0px;
border: 2px solid black;
}

header {
background: #e3e4e5;
	height: 10%;
	width: 100%;
	border: 2px solid black;
	display: flex;
}

#titulo {
	text-align: center;
	padding-left: 40%;
	padding-top: 2%

}

#cajatotal {
	
	text-align: center;
	padding-left: 30%;
	padding-right: 10%;
	
}

#cajatotal>p{
	
	 font-family: Arial;
	font-size: 200%;
	padding-right: 10%;
	
	
}

#logo {
	height: 55%;
	width: 10%;
	margin:2%;
}

#barra {
	background: white;
	width: 100%;
	height: 7%;
	text-align: center;
	background: #3e5f8a;
	border-bottom: 2px solid black;
	border-top: 1px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black; }

#barra a:hover
{
background-color: #369;
color: #FFF;
}

#navegador {
	padding-left: 12%;
list-style:none;
	text-align: center;
}

#navegador li{
	padding-left: 2%;
		display:inline;
}

#navegador>li>a {
 font-family: Arial;
 font-size: 90%;
 float: left;
 width: 9%;
 height: 70%;
 text-align: center;
 text-decoration: none;
 padding: 3%;
 margin: 1%;
 background-color: #e3e4e5;
 border-radius: 5px;
 color: black;
  border: 4px solid black;
}

#articulos { text-align: center;
 			width: 92.5%;
	        height: 80%;
	        padding-left: 5%;
	        padding-top: 2%;
	    	float: center;
	        margin-right: 5%;
 			background: #e3e4e5;}

#articulos table {
	border-collapse: collapse;
	border: 1px solid black;
}

#articulos td {
  text-align: center;
  border: 1px solid black;
  width: 10%;

}

#articulos td>img{ height:20%;
	width: 70%;
	margin: 2%; }



#ram,#mother,#rigidos,#procesadores { 
		margin-top:0%;
		color: #FFF;
		float: none;
		text-align: center;
		background-color: #FF3358;
		width: 90%;
		font-size: 120%;
		padding-left:13%;
		text-decoration: none; }

#contenido {
	text-align: center;
}

#cuenta {
	padding: 50%;
    margin: auto;
	text-align: center;
	font-weight: bold;
}

#formulario {
    height: 130%;
    width: 100%;
}

#primerT {margin-left: 20%;}
#formulario label{ width: 100%;}

#formulario input[type=text] {
	border: 2px solid #e2e2e4;
	width: 150%; height: 30px;
}

#formulario input[type=number] {
	border: 2px solid #e2e2e4;
	width: 150%; height: 30px;
}

#formulario input[type=sexo] {
	border: 2px solid #e2e2e4;
	width: 150%; height: 30px;
}

#formulario input[type=date] {
	border: 2px solid #e2e2e4;
	width: 150%; height: 30px;
}

#segundaT input[type=submit],
button {
	border: 2px solid #8077ea;
	width: 30%; height: 25%;
}


#formulario select { width: 5.5em }

#formulario label { font-size: 150%;
				font-weight: bold; }

#formulario td { text-align: center; }

#segundaT {
	font-size: 150%;
	font-weight: bold;
	margin-left: 10%;
}

footer {
	padding:5%;
	text-align: center;
	border: 1px solid black;
	clear: both;
	height: 5%;
	background:#79787e;
}
h3 {	
padding: 1%;
color: white;}

@media only screen and (max-width: 800px) {
	

#navegador li{
	padding-left: 2%;
	display:table;
	width: 100%;
}

#barra {
float: left;
width: 30%;
height: 80%;	}

#articulos { height: %100; }

#navegador>li>a {
 font-family: Arial;
 font-size: 90%;
 float: left;
 width: 50%;
 height: 70%;
 text-align: center;
 text-decoration: none;
 padding: 8%;
 margin: 8%;
 background-color: #e3e4e5;
 border-radius: 5px;
 color: black;
  border: 4px solid black;
}
	
} 
