body {
	margin: 0;
}

#articulos { text-align: center;
 			width: 100%;
	        height: 80%;
	        padding-top: 2%;
	    	float: center;
	        margin-right: 5%;
 			background: #e3e4e5;}

#articulos table {
	border-collapse: collapse;
	border: 1px solid black;
}

#articulos td {
  text-align: center;
  border: 1px solid black;
  width: 10%;

}

#articulos td>img{ height:20%;
	width: 70%;
	margin: 2%; }